
/* Background image */

.background {
    background-image: url("../Images/what-the-hex-dark.png");
}

/* Google Fonts */

.fontOverride {
    font-family: 'PT Sans', sans-serif;
}

.fontOverride2 {
    font-family: 'Josefin Sans', sans-serif;
}

/* Center Align */

.center {
    margin: 0 auto;
    margin-top: 20%;
    width: 80%;
    padding: 10px;
}

/* Searchbar */

.form-control {
    color: whitesmoke;
    background: transparent;
    text-align: center;
}

.form-control:focus {
    color: whitesmoke;
    background-color: transparent;
    text-align: center;
}

.active-cyan-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
}
.active-cyan-3 input[type=text] {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
}
.active-cyan-3 .fa, .active-cyan-4 .fa {
    color: #4dd0e1;
}
/*  Targeting Div for Movie Info */
/* .row-custom {
    height: 700px;
    margin-bottom: 10%;
}

.text-height {
    font-display: 25px;
} */
/* Search Button */
.card {
    background: transparent;
    padding: 20px;
    color: whitesmoke;
    text-align: center;
}

.card-img-top {
height: 380px;
width: auto;
}

#searchButton{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: ease-in-out .5s;
}

#searchButton:hover {
    color: white;
    transform: scale(1.5);
}

/* dynamic */

/* @media(min-width: 960px) {
#movies img, #movie img{
    width: 100%;
}

#movies .col-md-3 .well {
    background-color: transparent;
    font-family: 'Josefin Sans', sans-serif;
    color: whitesmoke;
    height:390px;
}

#movies .col-md-3 img {
    height:240px;
    margin-bottom: 15px;
}

} */
